@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 1px solid red; */
}

body {
  scroll-behavior: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /* height: 100vh; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* background-color: #0a1c20; */
  background-color: #061417;
  /* background-color: black; */
  color: white;
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  @apply w-0 bg-transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

body::-webkit-scrollbar-track {
  @apply bg-white;
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 rounded-full bg-black/60 hover:bg-black/40;
}

html {
  scrollbar-color: rgb(0, 0, 0, 0.4) rgb(0, 0, 0, 0);
  scrollbar-width: thin;
}

@font-face {
  font-family: clash;
  src: url('../assets/fonts/clash/ClashDisplay-Regular.otf') format('opentype');
}
@font-face {
  font-family: clashBold;
  src: url('../assets/fonts/clash/ClashDisplay-Semibold.otf') format('opentype');
}

@-webkit-keyframes slime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes slime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradientText {
  /* position: relative; */
  /* height: fit-content; */
  /* width: max-content; */
  overflow: hidden;
  /* margin-bottom: 30px; */
  background: linear-gradient(
    76deg,
    #fde1ff,
    #e0e7ff,
    #e0f9ff,
    #fffae9,
    #e8eaff,
    #ffe3f7,
    #daf1ff,
    #fde1ff,
    #e0e7ff,
    #e0f9ff,
    #fffae9,
    #e8eaff,
    #ffe3f7,
    #daf1ff,
    #fde1ff,
    #e0e7ff,
    #e0f9ff,
    #fffae9,
    #e8eaff,
    #ffe3f7,
    #daf1ff
  );
  background-size: 500% 500%;
  -webkit-animation: slime 45s ease infinite;
  animation: slime 45s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

.gradientText h1 {
  /* font-size: 4em; */
  @apply font-clashbold font-semibold text-[34px] leading-[36.9px] text-[#CFFAFF] md:leading-[45px] md:text-[35px] md:max-w-max lg:leading-[73.8px] lg:max-w-[580px] lg:text-[60px];
  /* font-weight: 900; */
  /* line-height: 1.2; */
  /* letter-spacing: -0.03em; */
  color: rgba(255, 255, 255, 0);
  text-transform: capitalize;
}

.gradientText h2 {
  color: rgba(255, 255, 255, 0);
  text-transform: capitalize;

  @apply flex items-center font-clashbold font-semibold text-white text-[20px] leading-[30.75px] lg:text-[60px] lg:leading-[73.8px];
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
