@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

body,
html {
  overflow-x: hidden;
  background-color: #0a1c20;
}

body::-webkit-scrollbar {
  @apply bg-transparent w-1;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

body::-webkit-scrollbar-track {
  @apply bg-black/10;
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply bg-black/30 hover:bg-black/40 rounded-full transition-all duration-500;
}

html {
  scrollbar-color: rgb(0, 0, 0, 0.4) rgb(0, 0, 0, 0);
  scrollbar-width: thin;
}

@font-face {
	font-family: Clash;
	src: url("./assets/fonts/clash/ClashDisplay-Regular.otf") format("opentype");
}

